 
  
 
  input[type=text], input[type=password] 
  {
    width: 20%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  button {
    width: auto;
    padding: 10px 18px;
    background-color: #3eb46b;
  }
  button:hover {
    opacity: 0.8;
  }
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #af6661;
  }
  
  span.psw {
    float: inline-start;
    padding-top: 16px;
  }
  